<html>
   <head>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
      <script src="/misc.js"></script>
      <link rel="stylesheet" href="/styles.css">
   </head>
   <body>
      <form ref='uploadForm' 
         id='uploadForm' 
         action='http://localhost:3000/upload' 
         method='post' 
         encType="multipart/form-data">
         <input type="file" name="sampleFile" />
         <input type='submit' value='Upload!' />
      </form>
      <div id = 'preference_data_window'>
      <%if (JSON.stringify(response) != '{}') { %>
      <!--<p><%= JSON.stringify(response)%></p>-->
      <div class="parent">
         <div class="row">
            <div class="col1">
               <h3>Danceability</h3>
            </div>
            <div class="col2">
               <h3>Energy</h3>
            </div>
            <div class="col3">
               <h3>Key</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="danceability" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="energy" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="key" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <h3>Loudness</h3>
            </div>
            <div class="col2">
               <h3>Mode</h3>
            </div>
            <div class="col3">
               <h3>Speechiness</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="loudness" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="mode" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="speechiness" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <h3>Acousticness</h3>
            </div>
            <div class="col2">
               <h3>Instrumentalness</h3>
            </div>
            <div class="col3">
               <h3>Liveness</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="acousticness" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="instrumentalness" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="liveness" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <h3>Valence</h3>
            </div>
            <div class="col2">
               <h3>Tempo</h3>
            </div>
            <div class="col3">
               <h3>Time signature</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="valence" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="tempo" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="time_signature" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col4">
               <p id="tags"></p>
            </div>
         </div>
         <script>
            populateArrays(<%-JSON.stringify(response)%>);
            //console.log('response-->'+  JSON.stringify(response))
            
            createHist('danceability', danceability_ar)
            createHist('energy', energy_ar)
            createHist('key', key_ar, data_low = 0, data_high = 11)
            createHist('loudness', loudness_ar, data_low = -60, data_high = 0)
            createHist('mode', mode_ar)
            createHist('speechiness', speechiness_ar)
            createHist('acousticness', acousticness_ar)
            createHist('instrumentalness', instrumentalness_ar)
            createHist('liveness', liveness_ar)
            createHist('valence', valence_ar)
            createHist('tempo', tempo_ar, data_low = 0, data_high = 300)
            createHist('time_signature', time_signature_ar, data_low = 1, data_high = 6)
         </script>>
         <% } %>
      </div>
   </body>
</html>

