<html>
   <head>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
      <script src="/misc.js"></script>
      <link rel="stylesheet" href="/styles.css">
   </head>
   <body>
       <div class="topnav">
  		<a class="active" href="/">Home</a>
		<a href="/sample_subject_preferences/acdc_top_songs.txt" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green" download>Upload Sample</a>
		<a href="https://thebotspeaks.com/Analyze-My-Music/" style="align:right">About</a>
	</div> 
      <form ref='uploadForm' 
         id='uploadForm' 
         action='/upload' 
         method='post' 
         encType="multipart/form-data">
         <input type="file" name="sampleFile" />
         <input type='submit' value='Upload!' />
      </form>
      <div id = 'preference_data_window'>
      <%if (JSON.stringify(response) != '{}') { %>
      <!--<p><%= JSON.stringify(response)%></p>-->
      <div class="parent">
         <div class="row">
            <div class="col1">
		<div class="tooltip">Whats this?<span class="tooltiptext">Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable. <br>source: Spotify</span></div>
               <h3>Danceability</h3>
            </div>
            <div class="col2">
		<div class="tooltip">Whats this?<span class="tooltiptext">Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.<br>source: Spotify</span></div>
               <h3>Energy</h3>
            </div>
            <div class="col3">
		<div class="tooltip">Whats this?<span class="tooltiptext">The key the track is in. Integers map to pitches using standard Pitch Class notation. E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on.<br>source: Spotify</span></div>
               <h3>Key</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="danceability" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="energy" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="key" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col1">
		<div class="tooltip">Whats this?<span class="tooltiptext">The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db <br>source: Spotify</span></div>
               <h3>Loudness</h3>
            </div>
            <div class="col2">
		<div class="tooltip">Whats this?<span class="tooltiptext">Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0. <br>source: Spotify</span></div>
               <h3>Mode</h3>
            </div>
            <div class="col3">
		<div class="tooltip">Whats this?<span class="tooltiptext">Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks. <br>source: Spotify</span></div>
               
               <h3>Speechiness</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="loudness" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="mode" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="speechiness" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col1">
		<div class="tooltip">Whats this?<span class="tooltiptext">A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic. <br>source: Spotify</span></div>
               <h3>Acousticness</h3>
            </div>
            <div class="col2">
		<div class="tooltip">Whats this?<span class="tooltiptext">Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0. <br>source: Spotify</span></div>
               <h3>Instrumentalness</h3>
            </div>
            <div class="col3">
		<div class="tooltip">Whats this?<span class="tooltiptext">Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live. <br>source: Spotify</span></div>
               <h3>Liveness</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="acousticness" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="instrumentalness" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="liveness" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col1">
		<div class="tooltip">Whats this?<span class="tooltiptext">A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry). <br>source: Spotify</span></div>
               <h3>Valence</h3>
            </div>
            <div class="col2">
		<div class="tooltip">Whats this?<span class="tooltiptext">The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration. <br>source: Spotify</span></div>
               <h3>Tempo</h3>
            </div>
            <div class="col3">
		<div class="tooltip">Whats this?<span class="tooltiptext">An estimated overall time signature of a track. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure). <br>source: Spotify</span></div>
               <h3>Time signature</h3>
            </div>
         </div>
         <div class="row">
            <div class="col1">
               <svg id="valence" width="350" height="350"></svg>
            </div>
            <div class="col2">
               <svg id="tempo" width="350" height="350"></svg>
            </div>
            <div class="col3">
               <svg id="time_signature" width="350" height="350"></svg>
            </div>
         </div>
         <div class="row">
            <div class="col4">
		<div class="tooltip">?<span class="tooltiptext">Top Genre keywords associated with the songs <br>source: LastFM</span></div>
               <b>Top Keywords<b><p id="tags"></p>
            </div>
         </div>
	
         <script>
            populateArrays(<%-JSON.stringify(response)%>);
            //console.log('response-->'+  JSON.stringify(response))
            
            createHist('danceability', danceability_ar)
            createHist('energy', energy_ar)
            createHist('key', key_ar, data_low = 0, data_high = 11)
            createHist('loudness', loudness_ar, data_low = -60, data_high = 0)
            createHist('mode', mode_ar)
            createHist('speechiness', speechiness_ar)
            createHist('acousticness', acousticness_ar)
            createHist('instrumentalness', instrumentalness_ar)
            createHist('liveness', liveness_ar)
            createHist('valence', valence_ar)
            createHist('tempo', tempo_ar, data_low = 0, data_high = 300)
            createHist('time_signature', time_signature_ar, data_low = 1, data_high = 6)
         </script>
         <% } %>
      </div>
   </body>
</html>

