* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.parent { 
  /*max-width: 1000px;*/ 
  width: 100%; 
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.row { 
  width: 100%;
  /*max-width: 1000px; */
  letter-spacing: -0.31em;
}
.col1, .col2, .col3 { 
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  /*background: #ccc;*/
  padding: 5px;
  margin: 5px 0.5%;
  letter-spacing: normal;
}
.col1 {
  width: 32%;
}
.col2 {
  width: 32%;
}
.col3 {
  width: 32%;
}
.col4 {
    width:100%;
    text-align: center;
    display: inline-block;
    letter-spacing: normal;
}


.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #000;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: blue;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: green;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
